:root {

  /* OFFICIAL */
  --black: #0F1416;
  --space-cadet: #282D40;
  --davys-gray: #4A495A;
  --taupe: #83828B;
  --silver: #BCBCBC;

  --salmon: #FE433C;
  --watermelon: #F31D64;
  --lilac: #A224AD;
  --purple: #6A38B3;
  --blue: #3C5081;
  --light-blue: #0095EF;

  --yellow: #EFCA00;
  --teal: #43C68B;












  /* TEST */
  --oxford-blue: #0a162c;

  --blue-green: #126969;
  --sun: #FFE87C;
  --yellow2: #FFFF00;


  /* LANGUAGES */



  /* OLD */
  --yellow1: #ffb381;
  --one: #3a86ff;
  --two: #ffbe0b;
  --three: #ff006e;
  --four: #8338ec;
  --five: #fb5607;
  --six: #390099;
}

/* https://www.pinterest.com/pin/480759328972720017/ */